.weather-btn Button {
    margin: 5px;
    font-size: 1rem;
    box-sizing: border-box;
    padding: 0.5rem;
}

@media screen and (max-width: 576px) {
    .weather-btn Button {
    font-size: 1rem;
    padding: 0.3rem;
}

}